h1{
  font-style: oblique;
  font-family: Papyrus;
  font-weight:700;
  text-align:center;
}

p{
  font-style: normal;
  font-family: Papyrus;
   font-weight:bold;
  line-height: 2;
  text-align:block;
}
